<ngb-carousel *ngIf="images">
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img [src]="images[0]" alt="Random first slide">
    </div>
    <div class="carousel-caption">
      <h3>First slide label</h3>
      <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img [src]="images[1]" alt="Random second slide">
    </div>
    <div class="carousel-caption">
      <h3>Second slide label</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img [src]="images[2]" alt="Random third slide">
    </div>
    <div class="carousel-caption">
      <h3>Third slide label</h3>
      <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
    </div>
  </ng-template>
</ngb-carousel>

  <div class="row">
    <ngb-tabset type="pills" [orientation]="currentOrientation" justify="justified">
      <ngb-tab title="Mobile">
        <ng-template ngbTabContent>
          <div class="tab-content card pt-5" id="myTabContentJust">
            <div class="row ">
              <!-- <div class="col-sm-4"> -->
                <div class="tab-pane fade show active" id="home-just" role="tabpanel" aria-labelledby="home-tab-just" *ngFor="let product of products">
                  <div class="card" style="width: 18rem;margin-top: 1rem; margin-left: 1rem;">
                    <img src="{{ product.pImage }}" class="card-img-top img-fluid img-thumbnail" alt="{{ product.pImage }}">
                    <div class="card-body">
                      <h5 class="card-title">{{ product.pName }}</h5>
                      <p class="card-text">{{ product.pDescription | truncate:150 }}</p>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                  </div>
                </div>
              <!-- </div> -->
            </div>
            
          </div>
        </ng-template>
      </ngb-tab>
      <ngb-tab>
        <ng-template ngbTabTitle><b>Laptop</b></ng-template>
        <ng-template ngbTabContent>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid.
          <p>Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table
          craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl
          cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit. Keytar helvetica VHS salvia
          yr, vero magna velit sapiente labore stumptown. Vegan fanny pack odio cillum wes anderson 8-bit, sustainable jean
          shorts beard ut DIY ethical culpa terry richardson biodiesel. Art party scenester stumptown, tumblr butcher vero
          sint qui sapiente accusamus tattooed echo park.</p>
        </ng-template>
      </ngb-tab>
    </ngb-tabset>
  </div>
  
  
  
